<nav class="navbar ">

    <div class="brand-title">

        <i class="fa fa-heart" #icon></i>

        <p>Wonderful Wedding</p>

    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="#home" class="">HOME</a></li>
            <li><a href="#couple" class="">COUPLE</a></li>
            <li><a href="#events" class="">EVENTS</a></li>
            <li><a href="#people" class="">PEOPLE</a></li>
            <li><a href="#gallery" class="">GALLERY</a></li>
            <li><a href="#rsvp" class="">RSVP</a></li>
        </ul>
    </div>

</nav>