<nav class="navbar ">

    <div class="brand-title">

        <i class="fa fa-heart" #icon></i>

        <p>Wonderful Wedding</p>

    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="#home" class="">HOME</a></li>
            <li><a href="#couple" class="">COUPLE</a></li>
            <li><a href="#events" class="">EVENTS</a></li>
            <li><a href="#people" class="">PEOPLE</a></li>
            <li><a href="#gallery" class="">GALLERY</a></li>
            <li><a href="#rsvp" class="">RSVP</a></li>
        </ul>
    </div>

</nav>




<!-- <nav #headerNav>

    <div class="logo">
        <div class="love_logo">

            <i class="fa fa-heart" #icon></i>

            <p>Wonderful Wedding</p>
        </div>
    </div>
    <ul class="nav-links" #nav>
        <div class="mobile_burger" #close>
            <div class="line_1"></div>
            <div class="line_3"></div>
        </div>
        <li>
            <a href="#">HOME</a>
        </li>
        <li>
            <a href="#">COUPLE</a>
        </li>
        <li>
            <a href="#">EVENTS</a>
        </li>
        <li>
            <a href="#">PEOPLE</a>
        </li>
        <li>
            <a href="#">GALLERY</a>
        </li>
        <li>
            <a href="#">RSVP</a>
        </li>
    </ul>
    <div class="burger" #burgers>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav> -->