<header id="home">
    <div class="header_image"></div>
    <div class="header container animate__fadeInDown">
        <p class="name">Raymond & Susan</p>
        <div class="image">
            <img src="../../assets/img/laurel-1.png" class="animate__fadeInDown">
        </div>
        <p class="small_name mt-5">5 <sup>th</sup> December, 2020</p>
    </div>
</header>
<app-menu></app-menu>
<!-- <app-main-nav></app-main-nav> -->
<section class="container mt-5" id="couple">
    <header>
        <h1 class="text-center head animate__backInLeft">Groom & Bride</h1>
    </header>
    <div class="row mt-4 mb-4">
        <div class="col-md-6 mb-5">
            <div>
                <img class="card-img-top " src="../../assets/img/groom.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Hi I am Raymond,Lorem ipsum dolor sit amet consectetur adipiscing, elit nulla enim arcu dictum lobortis, ac congue non hendrerit accumsan. Ut penatibus litora platea mi mus tempus eros proin, maecenas hac eget hendrerit inceptos per
                        tempor sodales, id varius nulla commodo augue lectus pulvinar. Etiam suscipit leo sollicitudin vivamus tempor himenaeos vitae mattis dictum posuere, tincidunt aenean litora aptent facilisis eu est gravida.
                    </p>
                    <p class="name_card text-center">Raymond</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div>
                <img class="card-img-top" src="../../assets/img/bride.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Hi I am Susan,Lorem ipsum dolor sit amet consectetur adipiscing, elit nulla enim arcu dictum lobortis, ac congue non hendrerit accumsan. Ut penatibus litora platea mi mus tempus eros proin, maecenas hac eget hendrerit inceptos per
                        tempor sodales, id varius nulla commodo augue lectus pulvinar. Etiam suscipit leo sollicitudin vivamus tempor himenaeos vitae mattis dictum posuere, tincidunt aenean litora aptent facilisis eu est gravida.
                    </p>
                    <p class="name_card text-center">Susan</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
    </div>
</section>
<section class="wedding_events" id="events">
    <div class="container">
        <header>
            <h1 class="text-center head p-5 ">Wedding Events</h1>
        </header>
        <div class="row mb-5">
            <div class="col-md-7 col-sm-12">
                <h4>Wedding Party</h4>
                <span>Church End, Hendon, London, UK</span> <br>
                <span>20 Dec 2018, 9AM - 6PM</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing, elit nulla enim arcu dictum lobortis, ac congue non hendrerit accumsan. Ut penatibus litora platea mi mus tempus eros proin, maecenas hac eget hendrerit inceptos per tempor sodales, id varius nulla commodo
                    augue lectus pulvinar. Etiam suscipit leo sollicitudin vivamus tempor himenaeos vitae mattis dictum posuere, tincidunt aenean litora aptent facilisis eu est gravida.
                </p>
            </div>
            <div class="col-md-5 col-sm-12 image">
                <img src="../../assets/img/wedding-party.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h4>Reception</h4>
                <span><i></i>Church End, Hendon, London, UK</span> <br>
                <span><i></i>20 Dec 2018, 9AM - 6PM</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing, elit nulla enim arcu dictum lobortis, ac congue non hendrerit accumsan. Ut penatibus litora platea mi mus tempus eros proin, maecenas hac eget hendrerit inceptos per tempor sodales, id varius nulla commodo
                    augue lectus pulvinar. Etiam suscipit leo sollicitudin vivamus tempor himenaeos vitae mattis dictum posuere, tincidunt aenean litora aptent facilisis eu est gravida.
                </p>
            </div>
            <div class="col-md-5 col-sm-12 image">
                <img src="../../assets/img//reception.jpg" alt="" srcset="">
            </div>
        </div>

    </div>
</section>
<section class="container" id="people">
    <header class="animate__backInDown">
        <h1 class="text-center head p-5">Groomsmen & Bridesmaids</h1>
    </header>
    <div class="row" id="prevs_slide">
        <div class="col-md-4">
            <div class="border">
                <img class="card-img-top" src="../../assets/img/bride-maid-1.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Rachel Lawson</p>
                    <p class="card-text  text-center">Best Friend</p>
                    <p class="card-text  text-center">Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border">
                <img class="card-img-top" src="../../assets/img/bride-maid-2.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Betty George</p>
                    <p class="card-text  text-center"> Room Mate</p>
                    <p class="card-text  text-center"> Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border">
                <img class="card-img-top" src="../../assets/img/bride-maid-3.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Emma Snyder</p>
                    <p class="card-text  text-center"> Friend</p>
                    <p class="card-text  text-center">Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
    </div>
    <div class="row " id='nexts_slide'>
        <div class="col-md-4">
            <div class="border">
                <img class="card-img-top" src="../../assets/img/groom-men-1.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Bryan Berry</p>
                    <p class="card-text  text-center">Best Friend</p>
                    <p class="card-text  text-center">Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border">


                <img class="card-img-top" src="../../assets/img/groom-men-2.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Kevin Johnston</p>
                    <p class="card-text  text-center"> Room Mate</p>
                    <p class="card-text  text-center"> Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border">
                <img class="card-img-top" src="../../assets/img/groom-men-3.jpg" alt="Card image">
                <div class="card-body">
                    <p class=" text-center">Arthur Wright</p>
                    <p class="card-text  text-center"> Friend</p>
                    <p class="card-text  text-center">Bridesmaids</p>
                </div>
                <app-icon></app-icon>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 slide">
            <div id="next"></div>
            <div id="prev"></div>
        </div>
    </div>
</section>
<section class="wedding_events p-5" id="gallery">
    <header>
        <h1 class="text-center head">Photo Gallery</h1>
    </header>
    <div class="select_button text-center container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-danger" (click)="getImage(0)">ALL</button>
                <button type="button" class="btn btn-outline-danger" (click)="getImage(5)">OUR VACATION</button>
                <button type="button" class="btn btn-outline-danger" (click)="getImage(3)">PARTY</button>
                <button type="button" class="btn btn-outline-danger" (click)="getImage(3)">CEREMONY</button>
                <button type="button" class="btn btn-outline-danger" (click)="getImage(4)">WEDDING</button>
            </div>
            <div class="col-md-12 images mt-5">
            </div>

        </div>
    </div>
</section>
<footer id="rsvp">
    <div class="bg_image p-5">
        <header class="text-center head text-white p-5">Join Our Party</header>
        <div class="container d-flex justify-content-center">
            <form class="row" style="width:690px">

                <div class="col-md-6 input_form">
                    <label for="name">Name</label><br>
                    <input type="text">
                </div>
                <div class="col-md-6 input_form">
                    <label for="email">Email</label><br>
                    <input type="email" name="email">
                </div>

                <div class="form-group col-md-6">
                    <label for="sel1">Number of Guests</label>
                    <select>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="sel1">I am Attending</label>
                    <select>
                          <option>All events</option>
                          <option>Wedding Carremony</option>
                          <option>Reception Party</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="comment">Your Message</label>
                    <textarea rows="5" id="comment"></textarea>
                </div>
                <div class="col-md-12 d-flex justify-content-center"><button type="button" class="btn btn-danger d-flex ">SEND</button></div>
            </form>
        </div>
    </div>

    <section class="text-center " style="padding: 20px;">
        <p> © Wonderful Wedding. All rights reserved.</p>
        <p>Design - TemplateFlip</p>
    </section>
</footer>
